.login-div,
.register-div {
  width: 400px;
  margin: 30px auto;
  text-align: center;
}
input {
  margin-top: 10px;
  box-sizing: border-box;
  border: none;
}
select {
  margin-top: 10px;
}
button {
  opacity: 0.9;
}
button:hover {
  opacity: 1;
}
.editor {
  overflow-y: scroll;
}
.editor > image {
  width: 100%;
}
