.login-div,
.register-div {
  width: 400px;
  margin: 30px auto;
  text-align: center;
}
input {
  margin-top: 10px;
  box-sizing: border-box;
  border: none;
}
select {
  margin-top: 10px;
}
button {
  opacity: 0.9;
}
button:hover {
  opacity: 1;
}
.editor {
  overflow-y: scroll;
}
.editor > image {
  width: 100%;
}
/* pagination  */
.pagination {
  width: 95%;
  margin: 50px auto;
  text-align: center;
}
.pagination button {
  border: 1px solid #3a86ff;
  padding: 5px 10px;
}
/* show current page active button  */
.active {
  background-color: #3a86ff;
  border: none;
  color: white;
}
/* previous button,    */
.prev {
  margin-right: 10px;
}
.prev:hover {
  background-color: #3a86ff;
  color: white;
}
/* next button */
.next {
  margin-left: 10px;
}
.next:hover {
  background-color: #3a86ff;
  color: white;
}
